.categories-container {
  padding: 10px;
  padding-top: 2.5rem;
  background-color: #121212; /* Dark background */
  margin-left: 7%;
  margin-right: 2%;
  height: 93%;
  
  
}

.categories-grid {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
  gap: 2rem; /* This adds space between grid items */
  padding: 1rem;
 
}

.category-card {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding-top: rem;
  border-radius: 8px;
  transition: transform 0.2s;
  
}

.category-card:hover {
  transform: scale(1.15); /* Scale effect on hover */
}



.category-title {

  left: 10px; /* Left padding */
  color: #fff; /* White text */
  font-size: 16px; /* Font size */
  background-color: rgba(0, 0, 0, 0.5); /* Semi-transparent background *//* Padding */
  border-radius: 5px; /* Rounded corners */
  
}
.title{
  margin-top: 1%;
  margin-left: 7%;
  color: #fff;
  font-size: 200%;
  font-family:Verdana, Geneva, Tahoma, sans-serif;
  font-weight: bolder;
}
.tot{
  height: 70%;
  background-color:rgb(55, 56, 53);
  
}
