.header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 15px 1px;
  background-color: #000;
  color: #fff;
  position: sticky;
  top: 0;
  z-index: 1000;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.5);
  height: 12%;
  flex-wrap: wrap; /* Allow items to wrap */
}

.logo-container {
  flex: 1; /* Allow the logo container to grow */
}

.logo {
  font-size: 2rem; /* Base font size */
  font-weight: bold;
  color: rgb(254, 19, 19);
  margin-left: 5%;
 position: fixed;
  
}

.search-bar {
  flex: 2; /* Allow the search bar to take more space */
  display: flex;
  align-items: center;
  background-color: #333;
  border-radius: 20px;
  padding: 5px 10px;
  margin: 0 20px;
  
}

.search-icon {
  color: #fff;
}

.search-bar input {
  border: none;
  background: transparent;
  color: #fff;
  outline: none;
  padding: 5px;
  width: 100%;
  font-size: 1rem; /* Base font size for input */
}

.premium-button {
  background-color: #fff;
  color: #000;
  border: none;
  border-radius: 20px;
  padding: 4px 20px;
  cursor: pointer;
  position: fixed;
  margin-left: 71%;
}

.icon-container {
  flex: 1; /* Allow the icon container to grow */
  display: flex;
  justify-content: flex-end; /* Align icons to the right */
  gap: 15px;
  margin-right: 1%;
}

.icon {
  color: #fff;
  font-size: 20px;
  cursor: pointer;
}

.user-initial {
  background-color: #007bff;
  color: #fff;
  border-radius: 50%;
  width: 30px;
  height: 30px;
  display: flex;
  align-items: center;
  justify-content: center;
  font-weight: bold;
}
.align{
  width: 40%;
 margin-left: 31%;
  position: fixed;
  
 
}

.home-button {
  background-color: #282828; /* Dark background */
  border: none; /* No border */
  border-radius: 50%; /* Circular shape */
  width: 40px; /* Width */
  height: 40px; /* Height */ /* Center vertically */
  justify-content: center; /* Center horizontally */
  cursor: pointer; /* Pointer cursor */
  transition: background-color 0.3s; /* Transition for hover effect */
  margin-left: 58%;
}

.home-button:hover {
  background-color: #444; /* Lighter background on hover */
}

.home-button .anticon {
  color: #ffffff; /* White icon color */
  font-size: 20px; /* Icon size */
}
.logopng{
  margin-left: 0%;
  position: fixed;
  width: 10%; /* Responsive logo size */
  max-width: 70px; /* Max width for larger screens */
}

/* Media Queries for Responsiveness */


 