.space{
    
    font-size: 25px;
}
.hom{
    margin-left: 50px;
}
.lin{
    margin-left: 50px;
}
.dro{
    margin-left: 50px;
}
.disa{
    margin-left: 50px;
}
.size{
    width: 10%;

}
.hover{
    height: 5%;
}